<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/new.css">
    <link rel="stylesheet" href="/css/show.css">
    <script src="https://kit.fontawesome.com/a76040e4b3.js" crossorigin="anonymous"></script>
    <title>BlogApp</title>
</head>
<body> 
    <div class="top-nav">
        <div class="newPost">
            <a href="/"><i class="fas fa-code"></i>Blog</a> 
            <a href="/blogs/new">New Post</a>
        </div>
        <div class="dropdown-content">
            <a id="logIn" href="/login">Log in</a>
            <a href="/register">Sign up</a> 
            <a href="/logout">Logout</a> 
        </div>
    </div>
    