body, html {
    margin: 0 auto;
    height: 100%;
}

#home {
    display: grid;
    grid-template-columns: 80px 1fr 1fr;
    margin-left: 20px;
}

#registration {
    display: flex;
    justify-content: space-evenly;
    width: 200px;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 0 auto;
    border-bottom: grey solid 2px;
    background: rgba(214, 199, 199, 0.295);
}

.top-nav a {
    text-decoration: none;
    color: black;
}

.newPost {
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

.dropdown-content {
    display: flex;
    justify-content: space-evenly;
    width: 20%;
    padding: 10px;
}








